<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerImpl" class="ru.iteco.View.CustomerImpl"/>
    <bean id="employeeImpl" class="ru.iteco.View.EmployeeImpl"/>
    <bean id="car" class="ru.iteco.View.CarImpl"/>
    <bean id="DB_access" class="ru.iteco.DAO.DB_access"/>
    <bean id="order" class="ru.iteco.View.OrderImpl" autowire="constructor">
        <constructor-arg index="0" ref="customerImpl"/>
        <constructor-arg index="1" ref="employeeImpl"/>
    </bean>

</beans>
